
.registration-vertical {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: larger;
}

.registration-horizontal {
display: flex;
flex-direction: row;
width: 30%
}

.registration-full-width {
  display: flex;
  flex-direction: column;
}
