<mat-card class="registrationCard">
  <mat-card-header>
    <mat-card-title>New Provider Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="registrationForm"
          class="registration-container">

      <mat-form-field>
        <mat-label for="FirstNameId">First Name</mat-label>
        <input matInput id="FirstNameId" type="text" required formControlName="FirstName"
               [ngClass]="{'is-invalid': (registrationForm.get('FirstName').touched || registrationForm.get('FirstName').dirty) && !registrationForm.get('FirstName').valid }"/>
        <mat-error *ngIf="registrationForm.get('FirstName').hasError('required')"> 
          Please enter the first name
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="LastNameId">Last Name</mat-label>
        <input matInput id="LastNameId" type="text" placeholder="Last Name (required)" required formControlName="LastName" />
        <!--<mat-error *ngIf="LastNameVar.hasError('required')">
    Please enter the Last name
  </mat-error>-->
      </mat-form-field>

      <mat-form-field>
        <mat-label for="EmailId">Email</mat-label>
        <input matInput id="EmailId" type="email" placeholder="Email (required)" required formControlName="Email" /> 
        <!--<mat-error *ngIf="EmailVar.hasError('required')">
          Please enter the Email address
        </mat-error>-->
      </mat-form-field>

    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" type="submit" [title]="registrationForm.valid ? 'Save new registrant' : ''" [disabled]="!registrationForm.valid">Submit</button>
  </mat-card-actions>
</mat-card>
<br>Dirty: {{ registrationForm.dirty }}
<br>Touched: {{ registrationForm.touched }}
<br>Valid: {{ registrationForm.valid }}
<br>Value: {{ registrationForm.value | json }}
